@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;1,400&family=IBM+Plex+Serif:wght@100;200;400;500;600&family=Inconsolata:wght@200;300;400;500;600;700&family=Montserrat:wght@100;300;400;500&family=Raleway:wght@200;300;400;500&family=Roboto+Mono:ital,wght@0,400;1,300&family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

/* 
  NORMALNE
font-family: 'IBM Plex Serif', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
*/
/*
KOKS TOTALNY
font-family: 'Cormorant', serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Space Grotesk', sans-serif;
*/
:root {
    --pogblue: #34568B;
    --poggreen: #88B04B;
    --lightgreen: #9BC400;
    --darkgreen: #478559;
    --okpink: #F95D9B;
    --coolaqua: #39A0CA;
    --okpurple1: #845BB3;
    --okpurple2: #7D3CFF;
    --okgray1: #494DSF;
    --okgray2: 393F4D;
    --prgray: #8076A3;
    --okwhite1: #E5EAF5;
    --okwhite2: #fbfbfb;
    --clearwhite: #ffffff;
    --okwhite: #f8f8f8;
    --dark: #1D1E22;
    --cooldark3: #303136;
    --cooldark4: #191919;
    --cooldark5: #1b1c1e;
    --bluedark: #2c333f;
    --bluedark2: #162c35;


}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: var(--clearwhite);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #2c5538;
    border-radius: 15px 0px 0px 15px;
    -webkit-border-radius: 15px 0px 0px 15px;
    -moz-border-radius: 15px 0px 0px 15px;
    -ms-border-radius: 15px 0px 0px 15px;
    -o-border-radius: 15px 0px 0px 15px;
}

/* Handle on hover */


body {
    background-color: var(--clearwhite);
    height: clamp(178.5rem, 205rem, 250vw);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}

#cart {
    bottom: 0;
    right: 0;
    position: fixed;
    width: clamp(3.5rem, 5rem, 6vw);
    height: clamp(3.5rem, 5rem, 6vw);

    z-index: 5;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: var(--clearwhite);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    opacity: 95%;
    transition: ease-out 300ms;
    -webkit-transition: ease-out 300ms;
    -moz-transition: ease-out 300ms;
    -ms-transition: ease-out 300ms;
    -o-transition: ease-out 300ms;
    box-shadow: 0px 0px 8px rgb(114, 114, 114);
}

#cart:hover,
#cart:focus {
    scale: 110%;
}

#count {
    box-shadow: 0px 0px 5px rgb(83, 83, 83);
    width: clamp(1rem, 1.5rem, 2vw);
    height: clamp(1rem, 1.5rem, 2vw);
    background-color: rgb(23, 147, 1);
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: var(--clearwhite);
    font-family: 'Space Grotesk', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(0.7rem, 1rem, 2vw);
}

#cartsp {
    width: 50%;
    height: 50%;
    background-image: url('cartpng.png');
    background-size: cover;
}

.site {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1rem;
    filter: drop-shadow(0px 0px 10px rgb(213, 213, 213));
    -webkit-filter: drop-shadow(0px 0px 10px rgb(213, 213, 213));
}

.nav {
    width: 100%;
    height: 9rem;
    background-color: #86B049;
    background-position-y: 60%;
    display: flex;
    align-items: flex-start;



}

.navcon {
    width: 100%;
    height: 7rem;
    background-color: #FEFBF6;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;

}

.logo {
    width: clamp(20rem, 30rem, 31vw);
    height: clamp(5rem, 5.3rem, 7vw);
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 500ms ease-in;
    -webkit-transition: 500ms ease-in;
    -moz-transition: 500ms ease-in;
    -ms-transition: 500ms ease-in;
    -o-transition: 500ms ease-in;
}

.logo h2 {
    color: var(--dark);
    font-family: 'Space Grotesk', sans-serif;
    font-weight: normal;
    font-size: clamp(1.4rem, 1.8rem, 2.1vw);


}






.bar {
    width: clamp(20rem, 50rem, 41vw);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: clamp(4rem, 6rem, 7vw);
}

.bar button {
    width: clamp(4rem, 8rem, 8vw);
    height: clamp(3rem, 3rem, 4vw);
    border: none;
    border-bottom: 0px solid #688a34;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: normal;
    color: var(--dark);
    transition: 50ms ease-in;
    -webkit-transition: 50ms ease-in;
    -moz-transition: 50ms ease-in;
    -ms-transition: 50ms ease-in;
    -o-transition: 50ms ease-in;
    font-size: clamp(0.8rem, 1.1rem, 1.4vw);
    background: none;
}

.bar button:hover {
    border-bottom: 5px solid #86B049;
}



.congen {
    width: 100%;

    height: clamp(35rem, 50rem, 51vw);

    display: flex;
    justify-content: center;
    align-items: center;
}

.gen {
    width: 100%;
    height: 100%;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genback {
    width: 100%;
    height: 100%;
    background-image: url('aboutus.jpeg');
    background-size: cover;
    position: absolute;
    filter: grayscale(50%);
    -webkit-filter: grayscale(50%);
}

.gencontent {
    width: clamp(18rem, 32rem, 46vw);
    height: clamp(12rem, 16rem, 21vw);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1.5rem 2rem 1.5rem 2rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: relative;
    -webkit-border-radius: 1.5rem 2rem 1.5rem 2rem;
    -moz-border-radius: 1.5rem 2rem 1.5rem 2rem;
    -ms-border-radius: 1.5rem 2rem 1.5rem 2rem;
    -o-border-radius: 1.5rem 2rem 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gencontent h1 {
    font-family: 'Space Grotesk', sans-serif;
    color: var(--clearwhite);
    margin: 0.1rem;
    font-size: clamp(1.2rem, 2.1rem, 2.4vw);
    text-shadow: 0px 3px 1px #9c9c9c;
}

.gencontent button {
    width: 10rem;
    height: 2.5rem;
    border: none;
    filter: drop-shadow(0px 3px 1px #55702d);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    background-color: #86B049;
    color: var(--clearwhite);
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
    color: var(--clearwhite);
    -webkit-filter: drop-shadow(0px 3px 1px #55702d);
    margin: 1rem;
    transition: 300ms ease-in;
    -webkit-transition: 300ms ease-in;
    -moz-transition: 300ms ease-in;
    -ms-transition: 300ms ease-in;
    -o-transition: 300ms ease-in;
}

.gencontent button:hover {
    color: var(--darkgreen);
    background-color: var(--clearwhite);
    filter: drop-shadow(0px 3px 1px #909090);
    scale: 110%;

}

#menu {
    display: none;
}

.rollmenu {
    display: none;
}

.shop {
    width: 100%;
    height: clamp(80rem, 90rem, 100vw);
    background-color: #759a3e;
    display: flex;
    gap: 2rem;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.shopbar {
    padding-top: 1rem;
    width: 100%;
    height: 11rem;
    background-color: #608031;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}




.shoptx {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.shoptx h2 {
    color: var(--clearwhite);
    font-family: 'Space Grotesk', sans-serif;
    font-weight: normal;
    font-size: clamp(1.5rem, 2rem, 2.3vw);
    margin: 0;


}

.shoptx h3 {
    color: var(--clearwhite);
    font-family: 'Space Grotesk', sans-serif;
    font-weight: normal;
    font-size: clamp(1rem, 1.4rem, 2.3vw);

    margin: 0.5rem;
}


.shopcon {
    width: clamp(20rem, 85rem, 105vw);
    height: 65rem;
    background-color: #FEFBF6;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: clamp(0.5rem, 5rem, 4vw);
}

.item {
    width: clamp(16rem, 30rem, 31vw);
    background-color: #3a7032;
    border: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: clamp(8rem, 16rem, 18vw);
    position: relative;
    filter: drop-shadow(0px 0px 8px #2b613b);
    -webkit-filter: drop-shadow(0px 0px 8px #2b613b);
}

.item button {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: clamp(3rem, 4rem, 6vw);
    height: clamp(1.5rem, 2rem, 3.5vw);
    background-image: linear-gradient(#e2fa31 70%, #faed31);
    border: none;
    font-family: 'Space Grotesk', sans-serif;


    transition: ease-in 500ms;
    -webkit-transition: ease-in-out 500ms;
    -moz-transition: ease-in 500ms;
    -ms-transition: ease-in 500ms;
    -o-transition: ease-in 500ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item button:hover span {
    scale: 90%;
}

.buy {
    width: 50%;
    opacity: 60%;
    height: 100%;
    background-image: url('cartpng.png');
    background-size: cover;
    background-position-y: 50%;
    position: absolute;

}

.descrip {
    width: 100%;
    height: 25%;
    background-color: #7da542;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

}

.descrip h2 {
    color: var(--clearwhite);
    font-family: 'Space Grotesk', sans-serif;
    font-weight: normal;
    font-size: clamp(0.8rem, 1.2rem, 2.3vw);
    margin: 0;

    border-radius: 5px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.descrip h3 {
    color: var(--dark);
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
    font-size: clamp(0.75rem, 0.9rem, 2.2vw);
    text-shadow: 0px 1px 1px #9c9c9c;
    background-color: var(--clearwhite);
    box-shadow: 0px 0px 1px black;
    padding: 2%;
    border-radius: clamp(0.4rem, 0.7rem, 1vw);
    padding-inline: 3%;
    bottom: 0;
    left: 0;
    margin: 2%;
    -webkit-border-radius: clamp(0.4rem, 0.7rem, 1vw);
    -moz-border-radius: clamp(0.4rem, 0.7rem, 1vw);
    -ms-border-radius: clamp(0.4rem, 0.7rem, 1vw);
    -o-border-radius: clamp(0.4rem, 0.7rem, 1vw);
    cursor: default;
}

#herb1 {
    position: absolute;
    width: 80%;
    height: 100%;
    background-image: url('herbata1.jpg');
    background-size: cover;
    background-position-y: 50%;
}

#herb2 {
    position: absolute;
    width: 80%;
    height: 100%;
    background-image: url('herbata2.jpg');
    background-size: cover;
    background-position-y: 0%;
}

#herb3 {
    position: absolute;
    width: 80%;
    height: 100%;
    background-image: url('herbata3.jpg');
    background-size: cover;
    background-position-y: 10%;
}

#herb4 {
    position: absolute;
    width: 80%;
    height: 100%;
    background-image: url('herbata4.jpg');
    background-size: cover;
    background-position-y: 0%;
}

#herb5 {
    position: absolute;
    width: 80%;
    height: 100%;
    background-image: url('herbata5.jpg');
    background-size: cover;
    background-position-y: 15%;
}

#herb6 {
    position: absolute;
    width: 80%;
    height: 100%;
    background-image: url('herbata6.jpg');
    background-size: cover;
    background-position-y: 10%;

}

.aboutback {
    width: 100%;
    height: 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    position: relative;
}

.about {
    width: 100%;
    height: 100%;
    background-image: url('herba.jpeg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: brightness(50%);
    -webkit-filter: brightness(45%);
    position: relative;
}

.aboutcon {
    width: clamp(18rem, 55rem, 60vw);
    height: clamp(30rem, 28rem, 60vw);
    background: rgba(255, 255, 255, 0.2);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 0.5px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;



}

.ab {

    padding: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;



}

.ab h1 {
    color: var(--clearwhite);
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
    font-size: clamp(1.4rem, 2.3rem, 4vw);
}

.ab h2 {
    color: var(--clearwhite);
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
    font-weight: normal;
    font-size: clamp(0.8rem, 1.2rem, 4vw);

}

.abtx {
    width: 75%;
    padding: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;



}

.abtx h1 {
    color: var(--clearwhite);
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
    font-size: clamp(0.9rem, 1.3rem, 4vw);
}

.abtx h2 {
    color: var(--clearwhite);
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
    font-size: clamp(0.8rem, 1.2rem, 4vw);

}

.endbar {
    width: 100%;
    height: 10rem;
    background-color: #180e05;
    display: flex;
    justify-content: center;
    align-items: center;
}

.end {
    width: 20rem;
    height: 100%;


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;



}

.end h2 {
    color: var(--clearwhite);
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;
    font-size: clamp(0.8rem, 1rem, 4vw);
    opacity: 50%;
    margin: 1rem;
    margin: 0.1rem;
}

#git {
    width: 2rem;
    height: 2rem;
    margin: 1rem;
    background-image: url('githublogo.png');
    background-size: cover;
    opacity: 50%;
    align-self: center;


}





@media screen and (max-width: 700px) {
    .bar button {
        display: none;
    }

    .nav {
        gap: 0;
        display: flex;

        height: 7.5rem;



    }

    .navcon {
        width: 100%;
        height: 7rem;

        display: flex;
        gap: 0;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;

    }

    #menu {
        display: flex;
        width: 1.5rem;
        height: 1.5rem;
        background-image: url('menu.png');
        background-size: cover;
    }

    .rollmenu {


        transition: ease-in 500ms;
        z-index: 4;
        position: fixed;
        display: none;
        opacity: 0;
        justify-content: center;
        align-items: center;

        top: 0;
        width: 100%;
        height: 100%;

        -webkit-transition: ease-in 500ms;
        -moz-transition: ease-in 500ms;
        -ms-transition: ease-in 500ms;
        -o-transition: ease-in 500ms;
    }

    .rollmenuback {
        z-index: 5;
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url('aboutus.jpeg');
        filter: grayscale(50%);
        background-size: cover;
        opacity: 95%;
        -webkit-filter: grayscale(50%);
    }

    .rollmenucon {
        z-index: 6;
        transition: ease-in 500ms;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-size: cover;
        -webkit-transition: ease-in 500ms;
        -moz-transition: ease-in 500ms;
        -ms-transition: ease-in 500ms;
        -o-transition: ease-in 500ms;
    }

    .mn {

        width: clamp(14rem, 16rem, 17vw);
        height: 5rem;
        background: rgba(255, 255, 255, 0.2);

        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 0.5px solid rgba(255, 255, 255, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;

    }

    .mn h1 {
        font-family: 'Roboto Mono', monospace;
        color: var(--clearwhite);
        font-weight: 500;
        font-size: 1.5rem;

        margin: 0.5rem;
    }

    .mncont {


        gap: 1.2rem;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .mncont button {
        width: clamp(13rem, 15rem, 15vw);
        height: clamp(3rem, 4rem, 4vw);
        color: var(--clearwhite);

        font-family: 'Roboto Mono', monospace;
        font-weight: normal;
        background: rgba(255, 255, 255, 0.2);

        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 0.5px solid rgba(255, 255, 255, 0.3);
        transition: 400ms ease-in;
        -webkit-transition: 400ms ease-in;
        -moz-transition: 400ms ease-in;
        -ms-transition: 400ms ease-in;
        -o-transition: 400ms ease-in;
        font-size: clamp(1.1rem, 1.25rem, 1.4vw);
        filter: drop-shadow(0px 2px 2px #d7d7d7);
        -webkit-filter: drop-shadow(0px 2px 2px #d7d7d7);
    }

    .mncont button:hover {
        color: var(--clearwhite);
        background-color: #7da542;
        filter: drop-shadow(0px 2px 2px #2c5538);
        -webkit-filter: drop-shadow(0px 2px 2px #2c5538);
        border: none;
    }

    .mncont :nth-child(7) {
        border: none;
        color: var(--clearwhite);
        background-color: #7da542;
        filter: drop-shadow(0px 2px 2px #698b35);
        -webkit-filter: drop-shadow(0px 2px 2px #698b35);
    }

    .mncont :nth-child(6):hover {
        color: #03aa27;
        background-color: var(--clearwhite);
        filter: drop-shadow(0px 2px 2px #d7d7d7);
        -webkit-filter: drop-shadow(0px 2px 2px #d7d7d7);
    }

    #srch {
        display: none;
    }

    #srchi {
        display: none;
    }

    .shop {
        height: 80em;
        background-image: url('herba.jepg');
    }

    .item {
        width: clamp(17rem, 30rem, 31vw);

        border: none;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: clamp(10rem, 16rem, 18vw);
        position: relative;
        box-shadow: 0px 0px 1px black;

    }

    .shopcon {
        width: 90%;
        height: 85%;
        background-color: #FEFBF6;

    }

    .shopbar {
        padding-top: 1rem;
        width: 100%;
        height: 6%;

        gap: clamp(0.1rem, 2rem, 3rem);
    }

    .shopbar button {
        display: none;
    }
}