@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;1,400&family=IBM+Plex+Serif:wght@100;200;400;500;600&family=Inconsolata:wght@200;300;400;500;600;700&family=Montserrat:wght@100;300;400;500&family=Raleway:wght@200;300;400;500&family=Roboto+Mono:ital,wght@0,400;1,300&family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

/* 
  NORMALNE
font-family: 'IBM Plex Serif', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
*/
/*
KOKS TOTALNY
font-family: 'Cormorant', serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Space Grotesk', sans-serif;
*/
:root {
    --pogblue: #34568B;
    --poggreen: #88B04B;
    --lightgreen: #9BC400;
    --darkgreen: #478559;
    --okpink: #F95D9B;
    --coolaqua: #39A0CA;
    --okpurple1: #845BB3;
    --okpurple2: #7D3CFF;
    --okgray1: #494DSF;
    --okgray2: 393F4D;
    --prgray: #8076A3;
    --okwhite1: #E5EAF5;
    --okwhite2: #fbfbfb;
    --clearwhite: #ffffff;
    --okwhite: #f8f8f8;
    --dark: #1D1E22;
    --cooldark3: #303136;
    --cooldark4: #191919;
    --cooldark5: #1b1c1e;
    --bluedark: #2c333f;
    --bluedark2: #162c35;


}

body {
    background-color: var(--clearwhite);
    height: 220rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}

.site {
    width: clamp(20rem, 85rem, 90vw);
    height: 99%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1rem;
}

.nav {
    width: 100%;
    height: 9rem;
    background-image: url('teaback.jpeg');
    background-position-y: 60%;
    display: flex;
    align-items: flex-start;



}

.navcon {
    width: 100%;
    height: 7rem;
    background-color: var(--okwhite2);
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;

}

.logo {
    width: clamp(20rem, 30rem, 31vw);
    height: clamp(5rem, 5.3rem, 7vw);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clearwhite);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    filter: drop-shadow(0px 3px 3px #d7d7d7);
    -webkit-filter: drop-shadow(0px 3px 3px #d7d7d7);
    transition: 500ms filter;
    -webkit-transition: 500ms filter;
    -moz-transition: 500ms filter;
    -ms-transition: 500ms filter;
    -o-transition: 500ms filter;
}

.logo h2 {
    color: var(--dark);
    font-family: 'Space Grotesk', sans-serif;
    font-size: 2rem;
    font-weight: lighter;
}

.logo h3 {
    color: var(--dark);
    font-family: 'Space Grotesk', sans-serif;

    font-weight: 500;
    font-size: 2rem;
    color: var(--darkgreen);
}

.logo:hover {
    filter: drop-shadow(0px 3px 5px #478559);
    -webkit-filter: drop-shadow(0px 3px 5px #478559);
}


.bar {
    width: clamp(20rem, 45rem, 41vw);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: clamp(4rem, 6rem, 7vw);
}

.bar button {
    width: clamp(4rem, 8rem, 8vw);
    height: clamp(3rem, 4rem, 4vw);
    background-color: var(--clearwhite);
    border: none;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
    color: #03aa27;
    transition: 500ms color, 400ms background-color;
    -webkit-transition: 500ms color, 400ms background-color;
    -moz-transition: 500ms color, 400ms background-color;
    -ms-transition: 500ms color, 400ms background-color;
    -o-transition: 500ms color, 400ms background-color;
    font-size: clamp(0.6rem, 1.25rem, 1.4vw);
    filter: drop-shadow(0px 2px 2px #d7d7d7);
    -webkit-filter: drop-shadow(0px 2px 2px #d7d7d7);
}

.bar button:hover {
    color: var(--clearwhite);
    background-color: var(--darkgreen);

}

.congen {
    width: 100%;

    height: clamp(25rem, 50rem, 51vw);

    display: flex;
    justify-content: center;
    align-items: center;
}

.gen {
    width: 100%;
    height: 95%;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genback {
    width: 100%;
    height: 100%;
    background-image: url('genback.png');
    background-size: cover;
    position: absolute;
}

.gencontent {
    width: clamp(18rem, 45rem, 46vw);
    height: clamp(12rem, 20rem, 21vw);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1.5rem 2rem 1.5rem 2rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: relative;
    -webkit-border-radius: 1.5rem 2rem 1.5rem 2rem;
    -moz-border-radius: 1.5rem 2rem 1.5rem 2rem;
    -ms-border-radius: 1.5rem 2rem 1.5rem 2rem;
    -o-border-radius: 1.5rem 2rem 1.5rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}












@media screen and (max-width: 700px) {
    .nav {
        gap: 0;
        display: flex;
        background-image: url('/src/style/teaback.jpeg');
        background-position-y: 60%;



    }

    .navcon {
        width: 100%;
        height: 8rem;
        background-color: var(--okwhite2);
        display: flex;
        gap: 0;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;

    }


}